body {
	margin:  0 auto;
	background: url('./../img/bg1.jpg') no-repeat center center fixed;
	background-size: cover;
}


section {
	min-height: 100vh;
	width: 100%;
	background-color: #fff;
	padding: 5%;
	margin: 10% 0;
	box-shadow: 4px 6px 5px #222;
}
h1 {
	display: flex;
	justify-content: center;
	color: teal;
	font-weight: bold;
}

.panel-heading {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border: none;
	outline: none;
	border-radius: 50%;
}